{{#each blogposts as |post|}}
  <div
    class="col-12 col-md-8 m-auto align-center mt-5 d-flex flex-row border border-black bg-info justify-content-between"
  >
    <p class="m-0 p-2">{{post.title}}</p>
    <p class="m-0 p-2">{{formate_date post.createdAt}}</p>
  </div>
{{/each}}