{{! <div class="col-12 col-md-8 m-auto align-center mt-5">
  <h2 class="text-center border border-black bg-info m-0 p-2">Create Post</h2>
  <div>
    <form class="d-flex flex-column border border-black p-3">
      <label class="m-2"> Title </label>
      <textarea class="m-2" rows="1"></textarea>
      <label class="m-2"> Content </label>
      <textarea class="m-2" rows="5"></textarea>
      <button class="btn btn-primary m-2" type="submit">Create</button>
    </form>
  </div>
</div> }}

{{#each blogposts as |post|}}
  <div
    class="col-12 col-md-8 m-auto align-center mt-5 d-flex flex-row border border-black bg-info justify-content-between"
  >
    <p class="m-0 p-2">{{post.title}}</p>
    <p class="m-0 p-2">{{format_date post.createdAt}}</p>
  </div>
{{/each}}