
{{#if view}}
{{>dashboard-view-posts}}
{{/if}}
{{#if create}}
{{>dashboard-create-post}}
{{/if}}
{{#if edit}}
{{>dashboard-edit-post}}
{{/if}}

<div class="d-flex justify-content-center">
  <button id="create-post-btn" class="btn btn-primary m-2" type="submit">+ New Post</button>
</div>
<script src="/js/dashboard.js"></script>