{{#each blogposts as |post|}}
  <div class="col-12 col-md-8 m-auto align-center mt-5">
    <h2
      class="text-center border border-black bg-info m-0 p-2"
    >{{post.title}}</h2>
    <p class="text-center border border-black p-3">{{post.content}}</p>
  </div>
{{/each}}